/*!* Скрываем полосу прокрутки в Firefox *!
* {
    scrollbar-width: none;
}

!* Скрываем полосу прокрутки в WebKit браузерах *!
*::-webkit-scrollbar {
    display: none;
}*/


/* ----------- Кастомная Нормализаия -------------- */
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
    font-weight: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
    font-weight: inherit;
}
:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}


/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/**
  Удаляем подчеркивания у всех ссылок
 */
a {
    text-decoration: none;
    color: currentColor;
    cursor: default;
    transition: color var(--transition-duration) ease;
}

/* ----------- Глобальные Переменные -------------- */
@font-face {
    font-family: 'Raleway-regular';
    src: url('@/assets/fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-medium';
    src: url('@/assets/fonts/Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-semibold';
    src: url('@/assets/fonts/Raleway-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu-medium';
    src: url('@/assets/fonts/Ubuntu-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-regular';
    src: url('@/assets/fonts/Inter_18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Erbaum-regular';
    src: url('@/assets/fonts/Erbaum-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Erbaum-medium';
    src: url('@/assets/fonts/Erbaum-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Erbaum-book';
    src: url('@/assets/fonts/Erbaum-Book.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Chalk';
    src: url('@/assets/fonts/Chalk.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-light';
    src: url('@/assets/fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('@/assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-light: #FFFFFF;
    --color-light-title: #FFFFFF99; /*Прозрачность 60%*/
    --color-medium: #FFFFFF80; /*Прозрачность 50%*/
    --color-background-accent: #2D3030;
    --color-background-base: #141A19;
    --color-red: #FF2442;
    --button-color-mobile-active: #AD1E31;

    --raleway-regular: 'Raleway-regular', sans-serif;
    --raleway-medium: 'Raleway-medium', sans-serif;
    --raleway-semibold: 'Raleway-semibold', sans-serif;
    --font-family-base: 'Raleway', sans-serif;
    --erbaum-regular: 'Erbaum-regular', sans-serif;
    --erbaum-medium: 'Erbaum-medium', sans-serif;
    --erbaum-book: 'Erbaum-book', sans-serif;
    --ubuntu-medium: 'Ubuntu-medium', sans-serif;
    --chalk: 'Chalk', sans-serif;
    --inter-regular: 'Inter-regular', sans-serif;
    --roboto-light: 'Roboto-light', sans-serif;
    --roboto-regular: 'Roboto-regular', sans-serif;

    --button-radius: 50px; /*2.60vw  50px*/
    --element-radius: 60px;
    --input-radius: 20px; /*1.04vw  20px*/
    --header-height: 60px; /*4.17vw   80px*/
    --section-title-height: 55px; /*2.86vw  55px*/
    --element-height: 60px; /*3.12vw  60px*/
    --element-radius-mobile: 30px;
    --input-radius-mobile: 16px;


    --transition-duration: 0.4s;
    --scroll-thumb-color: var(--color-background-base);   /*Для управления заполнение thumb scrollbar*/

    /* ----------- Переназначение переменных и классов для стилизации дейтпикера -------------- */
    --el-bg-color-overlay: var(--color-background-accent);   /*Цвет фона всего дейтпикера*/
    --el-border-radius-base: var(--input-radius);            /* Скругление всего дейтпикера (того что пунктом выше)*/
    --el-text-color-primary: var(--color-light);             /*Цвет стрелок влево/вправо смена месяца*/
    --el-text-color-regular: var(--color-light);             /*Цвет шрифта всех символов в дейтпикере*/
    --el-border-color-light: var(--color-light);             /*Цвет рамки дейтпикера*/
    --el-popper-border-radius: var(--input-radius);          /*Скругление внешней рамки дейтпикера (того что пунктом выше)*/
    --el-border-color-lighter: var(--color-red);             /*Цвет полоски разделителя между днями неделями и датами*/
    --el-fill-color-light: var(--color-background-base);     /*Цвет заливки фона у отключенных дат*/
    --el-color-primary: var(--color-red);                    /*Цвет фона активной даты и текущей даты*/

}

.el-date-table {
    font-family: var(--roboto-light), sans-serif;
    color: var(--color-light);
    font-size: 14px;
}

.el-date-picker__header-label {
    font-family: var(--roboto-light), sans-serif;
    color: var(--color-light);
    font-size: 16px;
    line-height: 45px;
}

.el-date-table td .el-date-table-cell .el-date-table-cell__text {
    line-height: 26px;
}

.el-date-table td .el-date-table-cell {
    margin-top: 5px;
}

.el-popper {
    --el-popper-border-radius: var(--input-radius);
}

.el-date-table-cell {
    border-radius: var(--input-radius);
    overflow: hidden; /* Это нужно, чтобы скругления работали корректно */
}
.el-input__icon {
    font-size: 18px;
    width: 18px;
    aspect-ratio: 1;
}

.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
    --el-date-editor-width: 265px;
}
/* ----------- Утилитарные классы -------------- */

/*Утилитарный класс для контейнера у которого есть отступы*/
.container {
    width: 100%;
    max-width: 1712px; /*89.17vw   1712px*/
    margin: 0  auto;
}

/*Утилитарный класс для контейнера у которого по макету ширина 1920px*/
.container-fullscreen {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto ;
}

section:nth-of-type(n):not(:nth-of-type(1)),
.footer-section {
    padding-top: 220px;
}

/*  Утилитарные классы заголовков  */
.title-container {
    width: 100%;
    max-width: 1712px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    margin-bottom: 40px;
}

.section-title {
    font-family: var(--erbaum-regular), sans-serif;
    font-size: 50px; /*0.9vw 50px*/
    text-transform: uppercase;
    color: var(--color-light);
    line-height: 110%;
}

.separator {
    width: calc(100%/2);
    height: 55px;
}

.last-world {
    color: var(--color-red);
}

.section-name {
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--raleway-regular), sans-serif;
    font-size: 22px; /*1.15vw 22px*/
    color: var(--color-light-title);
    text-transform: uppercase;
}

/*Утилитарные классы кнопок заявок*/
.button {
    width: 245px; /*11.87vw*/
    height: 54px; /*2.81vw*/
    background-color: var(--color-red);
    border-radius: var(--button-radius);
    color: var(--color-light);
    padding-inline: 50px; /*2.60vw*/
    padding-block: 18px; /*0.94vw*/
    font-family: var(--raleway-semibold), sans-serif;
    font-weight: 600;
    font-size: 18px; /*0.83vw*/
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    transition: transform var(--transition-duration), background-color var(--transition-duration);
}

.button:hover {
    transform: scale(1.07,1.3);
    cursor: pointer;
}

/*Утилитарные классы инпутов*/
.input {
    width: 100%;
    height: var(--element-height);
    background-color: var(--color-background-accent);
    border-radius: var(--input-radius);
    border: none;
    font-family: var(--roboto-light), sans-serif;
    color: var(--color-light);
    font-size: 16px;
    padding-inline: 16px;
}

.input:focus,
.input:hover {
    border: 1px solid var(--color-light);
}

.input::placeholder {
    color: var(--color-medium);
    font-family: var(--roboto-light), sans-serif;
    font-size: 16px;
}

/*Класс для скрытия чего-либо визуально*/
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

/*Классы для кнопок навигации*/
.controls-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
}
.left-button,
.right-button {
    height: 100px;
    transition: transform var(--transition-duration);
}

.left-button:hover {
    transform: translateX(-15px);
    cursor: pointer;
}
.right-button:hover {
    transform: translateX(15px);
    cursor: pointer;
}

.button-container img:first-child {
    margin-right: 80px;
}
@media (max-width: 1920px) and (min-width: 768px) {
    .title-container {
        margin-bottom: calc(30px + (40 - 30) * ((100vw - 768px) / (1920 - 768)));
    }
}

@media (max-width: 1800px) {
    .container {
        padding-inline: 50px;
    }
}

@media (max-width: 1401px) {
    section:nth-of-type(n):not(:nth-of-type(1)),
    .footer-section {
        padding-top: 120px;
    }

}

@media (max-width: 1280px) {
    .section-title {
        font-size: 45px;
    }
    .separator {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .container {
        padding-inline: 30px;
    }
}

@media (max-width: 768px) and (hover: none) {
    /* Применяем ко всем элементам с классом .button */
    .button:hover {
        transform: none; /* Отключаем hover */
    }

    .button:active {
        background-color: var(--button-color-mobile-active);
    }
    .button,
    .counter-body button,
    .custom-checkbox,
    .item-question,
    a {
        -webkit-tap-highlight-color: transparent;
        outline: none;
        touch-action: manipulation;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    :root {
        --transition-duration: 0.2s;
    }
    .section-title {
        font-size: calc(19px + (45 - 19) * ((100vw - 320px) / (768 - 320)));
    }
    .section-name {
        font-size: calc(11px + (22 - 11) * ((100vw - 320px) / (768 - 320)));
    }
    .title-container {
        height: calc(21px + (50 - 21) * ((100vw - 320px) / (768 - 320)));
    }
    .button {
        height: 50px;
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
    }
    .separator {
        max-height: 100%;
    }
    .container {
        padding-inline: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
    }
    .title-container {
        margin-bottom: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    }
    .input::placeholder {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (768 - 320)));
    }
    .el-input__inner::placeholder {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (768 - 320)));
    }
    .el-input__icon {
        font-size: 16px;
    }
    .input {
        border-radius: calc(16px + (10 - 16) * ((100vw - 320px) / (768 - 320)));
    }
    :root {
        --element-height: calc(50px + (60 - 50) * ((100vw - 320px) / (768 - 320)));
        --input-radius: calc(16px + (20 - 16) * ((100vw - 320px) / (768 - 320)));
    }
    .error-container {
        height: calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320)));
    }
}


